{% extends 'Main/base.html' %}
{% load static %}
{% block content %}
	
	<!-- page header -->
    <section class="page-header">
        <div class="container-xl">
            <div class="text-center">
                <h1 class="mt-0 mb-2">Category</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center mb-0">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Category</li>
                    </ol>
                </nav>
            </div>
        </div>
    </section>

	<!-- section main content -->
	<section class="main-content">
		<div class="container-xl">

			<div class="row gy-4">
					<!--right side-->
				<div class="col-lg-8">

                    <div class="row gy-4">
                        {% for i in page %}
                        <div class="col-sm-6">
                            <!-- category -->
                            <div class="post post-grid rounded bordered">
                                <div class="thumb top-rounded">
                                    <a href="{% url 'postbycat' i.categoryName %}" class="category-badge position-absolute">{{i.categoryName}}</a>
                                    <span class="post-format">
                                        <i class="icon-picture"></i>
                                    </span>
                                    <a href="{% url 'postbycat' i.categoryName %}">
                                        <div class="inner">
                                            <img src="{{i.categoryImage.url}}" alt="{{i.categoryName}}" />
                                        </div>
                                    </a>
                                </div>
                                <div class="details">
                                    <h5 class="post-title mb-3 mt-3"><a href="{% url 'postbycat' i.categoryName %}">{{i.categoryName}}</a></h5>
                                </div>
                                {% comment %} <div class="post-bottom clearfix d-flex align-items-center">
                                    <div class="social-share me-auto">
                                        <button class="toggle-button icon-share"></button>
                                        <ul class="icons list-unstyled list-inline mb-0">
                                            <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i class="fab fa-telegram-plane"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i class="far fa-envelope"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="more-button float-end">
                                        <a href="{% url 'postbycat' i.categoryName %}"><span class="icon-options"></span></a>
                                    </div>
                                </div> {% endcomment %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>

					<!-- Pagination Controls -->
					<nav>
						<ul class="pagination justify-content-center">
							{% if page.has_previous %}
								<li class="page-item">
									<a class="page-link" href="?page={{ page.previous_page_number }}" aria-label="Previous">
										<span aria-hidden="true">&laquo;</span>
									</a>
								</li>
							{% endif %}
							
							{% for page_num in page.paginator.page_range %}
								{% if page_num >= 1 %}  {# Ensure the page number is not less than 1 #}
									<li class="page-item {% if page.number == page_num %}active{% endif %}">
										<a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
									</li>
								{% endif %}
							{% endfor %}
							
							{% if page.has_next %}
								<li class="page-item">
									<a class="page-link" href="?page={{ page.next_page_number }}" aria-label="Next">
										<span aria-hidden="true">&raquo;</span>
									</a>
								</li>
							{% endif %}
						</ul>
					</nav>
					<!-- Pagination Controls -->
					


				</div>
				<div class="col-lg-4">
					<!--right side-->

					<!-- sidebar -->
					<div class="sidebar">
						<!-- widget about -->
						<div class="widget rounded">
							<div class="widget-about data-bg-image text-center" data-bg-image="{% static 'images/map-bg.png' %}">
								<img src="{% static 'images/logo.svg' %}" alt="logo" class="mb-4" />
								<p class="mb-4">Hello, We’re content writer who is fascinated by content fashion, celebrity and lifestyle. We helps clients bring the right content to the right people.</p>
								<ul class="social-icons list-unstyled list-inline mb-0">
									<li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
									<li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
									<li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
									<li class="list-inline-item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
									<li class="list-inline-item"><a href="#"><i class="fab fa-medium"></i></a></li>
									<li class="list-inline-item"><a href="#"><i class="fab fa-youtube"></i></a></li>
								</ul>
							</div>
						</div>

						<!-- widget popular posts -->
						<div class="widget rounded">
							<div class="widget-header text-center">
								<h3 class="widget-title">Popular Posts</h3>
								<img src="{% static 'images/wave.svg' %}" class="wave" alt="wave" />
							</div>
							<div class="widget-content">
								{% for i in popular_post %}
								<!-- post -->
								<div class="post post-list-sm circle">
									<div class="thumb circle">
										<span class="number">{{forloop.counter}}</span>
										<a href="{% url 'postdetail' i.slug %}">
											<div class="inner">
												<img src="{{i.post_image.url}}" alt="post-title" />
											</div>
										</a>
									</div>
									<div class="details clearfix">
										<h6 class="post-title my-0"><a href="{% url 'postdetail' i.slug %}">{{i.title |truncatechars:35}}</a></h6>
										<ul class="meta list-inline mt-1 mb-0">
											<li class="list-inline-item">{{i.date}}</li>
										</ul>
									</div>
								</div>
								{% endfor %}
							</div>		
						</div>

						<!-- widget categories -->
						<div class="widget rounded">
							<div class="widget-header text-center">
								<h3 class="widget-title">Explore Topics</h3>
								<img src="{% static 'images/wave.svg' %}" class="wave" alt="wave" />
							</div>
							<div class="widget-content">
								<ul class="list">
									{% for i in category %}
									<li><a href="{% url 'postbycat' i.categoryName %}">{{i.categoryName}}</a><span></span></li>
									{% endfor %}
								</ul>
							</div>
							
						</div>

						<!-- widget post carousel -->
						<div class="celebratesidebarsection">
							<div class="widget rounded">
								<div class="widget-header text-center">
									<h3 class="widget-title">Celebration</h3>
									<img src="{% static 'images/wave.svg' %}" class="wave" alt="wave" />
								</div>
								<div class="widget-content">
									<div class="post-carousel-widget">
										{% for i in celebrate_post|slice:"0:3" %}
										<!-- post -->
										<div class="post post-carousel">
											<div class="thumb rounded">
												<a href="{% url 'postbycat' i.category.categoryName %}" class="category-badge position-absolute">{{i.category}}</a>
												<a href="{% url 'postdetail' i.slug %}">
													<div class="inner">
														<img src="{{i.post_image.url}}" alt="post-title" />
													</div>
												</a>
											</div>
											<h5 class="post-title mb-0 mt-4"><a href="{% url 'postdetail' i.slug %}">{{i.title}}</a></h5>
											<ul class="meta list-inline mt-2 mb-0">
												<li class="list-inline-item"><a href="#">{{i.author}}</a></li>
												<li class="list-inline-item">{{i.date}}</li>
											</ul>
										</div>
										{% endfor %}
									</div>
									<!-- carousel arrows -->
									<div class="slick-arrows-bot">
										<button type="button" data-role="none" class="carousel-botNav-prev slick-custom-buttons" aria-label="Previous"><i class="icon-arrow-left"></i></button>
										<button type="button" data-role="none" class="carousel-botNav-next slick-custom-buttons" aria-label="Next"><i class="icon-arrow-right"></i></button>
									</div>
								</div>		
							</div>
						</div>

						<!-- widget advertisement -->
						<div class="widget no-container rounded text-md-center">
							<span class="ads-title">- Sponsored Ad -</span>
							<a href="#" class="widget-ads">
								<img src="{% static 'images/ads/ad-360.png' %}" alt="Advertisement" />	
							</a>
						</div>

						<!-- widget tags -->
						<div class="widget rounded">
							<div class="widget-header text-center">
								<h3 class="widget-title">Tag Clouds</h3>
								<img src="{% static 'images/wave.svg' %}" class="wave" alt="wave" />
							</div>
							<div class="widget-content">
								<a href="#" class="tag">#Trending</a>
								<a href="#" class="tag">#Video</a>
								<a href="#" class="tag">#Featured</a>
								<a href="#" class="tag">#Gallery</a>
								<a href="#" class="tag">#Celebrities</a>
							</div>		
						</div>

					</div>
                    <!-- sidebar -->
				</div>

			</div>

		</div>
	</section>

	<!-- instagram feed -->
	{% comment %} <div class="instagram">
		<div class="container-xl">
			<!-- button -->
			<a href="#" class="btn btn-default btn-instagram">@Katen on Instagram</a>
			<!-- images -->
			<div class="instagram-feed d-flex flex-wrap">
				<div class="insta-item col-sm-2 col-6 col-md-2">
					<a href="#">
						<img src="{% static 'images/insta/insta-1.jpg' %}" alt="insta-title" />
					</a>
				</div>
				<div class="insta-item col-sm-2 col-6 col-md-2">
					<a href="#">
						<img src="{% static 'images/insta/insta-2.jpg' %}" alt="insta-title" />
					</a>
				</div>
				<div class="insta-item col-sm-2 col-6 col-md-2">
					<a href="#">
						<img src="{% static 'images/insta/insta-3.jpg' %}" alt="insta-title" />
					</a>
				</div>
				<div class="insta-item col-sm-2 col-6 col-md-2">
					<a href="#">
						<img src="{% static 'images/insta/insta-4.jpg' %}" alt="insta-title" />
					</a>
				</div>
				<div class="insta-item col-sm-2 col-6 col-md-2">
					<a href="#">
						<img src="{% static 'images/insta/insta-5.jpg' %}" alt="insta-title" />
					</a>
				</div>
				<div class="insta-item col-sm-2 col-6 col-md-2">
					<a href="#">
						<img src="{% static 'images/insta/insta-6.jpg' %}" alt="insta-title" />
					</a>
				</div>
			</div>
		</div>
	</div> {% endcomment %}

{% endblock %}